<div class="bg-image-container">
    <img src="donate.jpeg" alt="Background Image" class="bg-image">
    <div class="dashboard-container">
      <h2>Donor Dashboard</h2>
      <div class="button-group">
        <button class="action-btn"><a routerLink="/donate-food">Donate Food</a></button>
        <button class="action-btn"><a routerLink="/donate-money">Donate Money</a></button>
        <button class="action-btn"><a routerLink="/donate-item">Donate Item</a></button>
        <button class="action-btn logout-btn" (click)="logout()">Logout</button>
      </div>
    </div>
    <footer class="footer">
      <p>© 2025 Orphanage Management System. All rights reserved.</p>
    </footer>
  </div>
