<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopter Dashboard - Orphanage Management</title>
    <link rel="stylesheet" href="adopter.css">
</head>
<body>
    <img src="adopt.jpg" alt="Background Image" class="bg-image">

    <div class="dashboard-container">
        <h2>Adopter Dashboard</h2>
        <button (click)="navigateToFamilyType()">Family Type</button>
        <button (click)="navigateToApplyAdoption()">Apply adoption</button>
        <button (click)="navigateToViewInfo()">View Details</button>
        <button (click)="goBack()">Back</button>
    </div>

</body>
</html>
